/* Header style */
header {
    background-color: black;
    color: white;
    text-align: center;
}

/* Style for buttons */
.add-button, #upload-button, .search-button, #clear-button {
    margin-left: 1rem;
    background-color: rgb(37, 120, 228);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 5px;
}

/* Main container style */
.container {
  display: flex;
  height: 100vh;
}

/* Column style */
.column {
  flex: 1;
  padding: 20px;
}

/* DropZone style */
#dropZone {
  border: 2px dashed #666;
  padding: 20px;
  text-align: center;
  height: 100px;
  width: 150px;
  margin: auto;
  margin-top: 10px;
  background-color: #cbc7c776;
}

/* DropZone style when file is dragged over */
#dropZone.drag-over{
  border: 3px dashed #333;
  background-color: #cbc7c7a3;
}

/* Upload button style */
.upload-button {
  margin-top: 10px;
}

/* Keyword list style */
.keyword-list {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 300px; /* maximum width of 3 keywords per line */
}

/* Keyword list item style */
.keyword-list-item {
  list-style-type: none;
  margin-right: 10px; /* space between keywords */
  margin-bottom: 10px; /* space between lines */
  background-color: #4CAF50; /* green background color */
  color: #fff; /* white text color */
  border-radius: 5px; /* rounded borders */
  padding: 5px 10px; /* padding inside each keyword item */
  display: flex; /* add flex display to align keyword and cross button */
  align-items: center; /* center align keyword and cross button vertically */
}

/* Style for the cross button in keyword list items */
.keyword-list-item button {
    background-color: transparent;
    color: red;
    border: none;
    cursor: pointer;
}

/* Spinner style */
.spinner {
  margin-top: 10px;
  margin-left: 5px;
  border: 2px solid #007bff;
  border-radius: 50%;
  border-top: 2px solid #fff;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

/* Spinner animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Clear button style */
#clear-button {
  margin-right: 50px;
  display: none;
}

/* Styles for result and keyword list containers */
.result_container, #keyword_list_container {
  display: flex;
  align-items: center;
}

/* Styles for most relevant results */
.most_relevant {
  font-size: 20px;
  background-color: yellow;
  margin-left: 50px;
}

/* Styles for file list */
.file-list {
  margin-top: 50px;
  margin-bottom: 20px;
}

/* Styles for unordered list inside file list */
.file-list ul {
  padding: 0;
  list-style-type: none;
}

/* Styles for list items inside file list */
.file-list li {
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* Styles for remove button inside file list items */
.remove-btn {
  margin-left: 10px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

/* Styles for eye button inside file list items */
.eye-btn {
  cursor: pointer;
  margin-left: 5px;
  background-color: #4CAF50;
}

/* Styles for the embedded PDF viewer */
.pdf-viewer {
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Styles for the results zone */
#resultsZone{
  margin-bottom: 20px;
}
